@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background:#d4e3fc;  
}


.form-register{
  width: 95%;
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
  background: rgba(251, 251, 251, 0.842);
  border-color: rgba(255, 255, 255, 0.521);
  border-radius: 7px;
  
}
.form-titulo{
  background: #b9c7e0;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 24px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom:5px solid #919db0 ;
  font-family: 'Antonio';
}

.contenedor-inputs{
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input-48{
  width: 48%;
}

.input-100{
  width: 100%;
}
input{
  margin-bottom: 15px;
  padding: 15px;
  background: white;
  border: 1px solid rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 3px;
  font-family: 'Roboto Flex';
}
.select-100{
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  background: white;
  border: 1px solid rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 3px;
  font-family: 'Roboto Flex';
}


.select-48{
  width: 48%;
  margin-bottom: 15px;
  padding: 15px;
  background: white;
  border: 1px solid rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 3px;
  font-family: 'Roboto Flex';
}

.btn-enviar{
  background: #919db0;
  color: #fff;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 20px;
}
.btn-enviar:active{
  transform: scale(1.05);
}

.btn a{
    text-decoration: none;
}

.btn.btn-danger a{
    color: white;
    text-decoration: none;
}


  input[type="submit"]:hover{
    border-color:#9596d2;
    transition: .5s;
}

input [type="radio"]{
  display: none;
}

.label-radio{
  position: relative;
  color: #0130cc;
  font-family: 'Roboto Flex';
  font-size:12px;
  border: 1px solid #0130cc;
  border-radius: 5px;
  padding: 0px 27px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
  width:90px;
}

input[type="radio"]:checked + label{
  background-color: #220871;
  color: white;
}


.input-label{
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  width: 100%;
}